body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#header{
    background: url('images/header20182.jpg') no-repeat;
    width: 1384px;
    height: 216px;
    margin: 0;
    display: block;
    overflow: hidden;
    text-align: center;
}
#lang {
    width: 180px;
    height: 30px;
    overflow: hidden;
    padding: 0;
    display: block;
    text-align: right;
    float: right;
    margin: 10px;
}
nav {
    display: flex;
    justify-content: center;
    background: purple;
    margin-bottom: 20px;
}
nav a {
    color: white;
    padding: 20px;
    text-decoration: none;
}
nav a:hover {
    background: rgb(38, 255, 0);
}
main {
    width: 1000px;
    margin: auto;
}
main iframe {
    text-align: center;
    display: flex;
    margin-left: 190px;
}
.download {
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    margin-bottom: 70px;
}
.download #s a {
    margin-right: 500px;
    padding: 20px;
    text-decoration: none;
    color: white;
    background: rgb(38, 255, 0);
}
.download #d a {
    padding: 20px;
    margin-bottom: 90px;
    text-decoration: none;
    color: white;
    background: rgb(38, 255, 0);
    margin-left: 500px;
}
.download #d a:hover {
    background: rgb(6, 71, 6);
}
.download #s a:hover {
    background: rgb(6, 71, 6);
}
#right {
    margin-top: 80px;
    text-align: center;
    justify-content: right;
    margin-left: 600px;
    margin-top: 0;
}
#text {
    text-align: center;
}
#other h2 {
    text-align: center;
    margin-bottom: 20px;
}
#footer {
    text-align: center;
    background:rgb(6, 71, 6);
    color: white;
    padding: 15px;
    margin-top: 60px;
    display: inline-flexbox;
}
#lang a {
    text-decoration: none;
}
@media only screen and (min-width: 1420px){
    #header {
        background: url('images/header20182.jpg') no-repeat;
        width: 1500px;
        height: 216px;
        margin: 0;
        display: block;
        overflow: hidden;
        text-align: center;
    }
}